.content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btns{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

button{
    border: none;
    font-size: 20px;
    max-width: 150px;
    max-height: 120px;
}

h1{
    display: flex;
    justify-content: center;
}